<div id="<%= dom_id surf_day %>">
  <p>
    <strong>Title:</strong>
    <%= surf_day.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= surf_day.description %>
  </p>

  <p>
    Went surfing <%= time_tag surf_day.date, "data-local": "time-ago" %>
  </p>

</div>
