// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.AddSurfDay {
  &_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
  }
}

@import "react-datepicker/dist/react-datepicker-cssmodules.css";

.DayDescription {
  &_textarea {
    height: 80%;

    cursor: pointer;

    &:hover {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }

    &-isEditing {
      cursor: auto;
    }
  }

  // React Datepicker
  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    display: flex;

    input {
      width: 100%;
    }
  }
}

.DayRating {
  &_icon {
    height: 24px;
    width: 24px;
    circle {
      stroke: black;
      fill: none;
      stroke-width: 10pt;
    }    
    
    &--isChecked {
      
      circle {
        fill-opacity: .4;
        stroke: burlywood;
        fill: yellow;
        stroke-width: 10pt;
      }  
    }
  }
  
  

  &_input {
    display: none;
  }
}
